html {
    box-sizing: border-box;
    font-size: 75%;
}
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
h1, h2 {
    font-weight: 300;
    font-family: Arial,
    Helvetica, sans-serif;
    margin: 20px;
}

h1, h2, .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.calculator{
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 5px 10px 18px gray;
    padding: 10px;
    position: relative;
}
.calculator-screen{
    width: 100%;
    font-size: 5rem;
    height: 100px;
    border: none;
    color: #091D34;
    background-color: #E1ECF9;
    text-align: right;
    padding: 20px;
}
button {
    background-color: #091D34;
    color: white;
    padding: 15px 25px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button:hover {
    background-color: #609CE1;
}

button:active {
    box-shadow: 0 5px gray;
    transform: translateY(4px);
}

.operator {
    background-color: #133863;
    border-color: #091D34;
    color: white;
}
.operator:hover{
    background-color: #609CE1;
    border-color: #236AB9;
}

.clear {
    background-color: red;
    border-color: #091D34;
    color: white;
}

.clear:hover {
    background-color: lightcoral;
    border-color: #236AB9;
}

.equal-sign {
    background-color: #133863;
    border-color: #091D34;
    color: white;
    height: 100%;
    grid-area: 2 / 4 / 6 / 5;
}

.equal-sign:hover {
    background-color: #609CE1;
    border-color: #236AB9;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 30px;
}